@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/roboto-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-darker: #0c101f;
	--color-light-background: #ffffff;
	--color-secondary: #6cc5ce;
	--color-primary: #0d3f68;
	--font-roboto: 'Roboto', sans-serif;
	--font-poppins: 'Poppins', sans-serif;
	--shadow-left: -20px 0 25px -5px;
	--color-html: #e93e30;
	--color-css: #214ce5;
	--color-react: #66dbfb;
	--color-tailwind: #0fb8d5;
	--color-javascript: #f1dc55;
	--color-typescript: #377cc8;
	--color-git: #f15639;
	--color-github: #ffffff;
	--color-router: #f94949;
	--color-vite: #9575cd;
	--color-vercel: #ffffff;
	--color-eslint: #5138c5;
}

@layer {
	.title {
		@apply font-poppins text-darker text-6xl font-extrabold lg:text-7xl dark:text-white;
	}
	.subtitle {
		@apply font-roboto text-darker text-[28px] font-medium lg:text-4xl dark:text-white;
	}
	.titleSection {
		@apply font-poppins text-darker text-2xl font-medium md:text-3xl dark:text-white;
	}
	.button {
		@apply bg-secondary hover:bg-primary font-roboto text-darker cursor-pointer rounded-xl px-5 py-1.75 text-lg font-medium transition duration-300 hover:text-white active:scale-110 md:text-xl;
	}
	.paraph {
		@apply font-roboto text-primary indent-10 text-lg text-pretty md:text-xl dark:text-white;
	}
	.nav-button {
		@apply font-poppins cursor-pointer text-lg whitespace-nowrap text-white md:text-xl;
	}
	.nav-link {
		@apply after:bg-secondary relative after:absolute after:top-7 after:left-0 after:h-1 after:w-full after:origin-center after:scale-x-0 after:rounded-full after:transition-transform after:duration-300 after:content-[''] hover:after:scale-x-100;
	}
	.section {
		@apply flex w-full flex-col items-center justify-between gap-4 px-10 py-15;
	}
	.header {
		@apply bg-primary fixed top-0 left-0 z-50 flex w-full items-center justify-between rounded-b-4xl px-10 py-2;
	}
	.buttonSecondary {
		@apply border-secondary hover:border-primary flex h-10 w-10 cursor-pointer items-center justify-center rounded-xl border-2 transition duration-300 active:scale-110;
	}
	.skillIcon {
		@apply bg-darker/15 flex h-20 w-20 cursor-pointer items-center justify-center rounded-2xl border-2 text-5xl transition duration-300;
	}
	.skillLabel {
		@apply bg-darker/15 my-2 flex h-auto w-18 items-center justify-center rounded-lg border-2 py-1 text-xs text-white opacity-0 transition duration-300 group-hover:opacity-100;
	}
	.inputContact {
		@apply border-primary text-primary placeholder:text-primary/50 w-full border-b-2 p-2 text-lg outline-none dark:border-white dark:text-white dark:placeholder:text-white/50;
	}
}
